

  <div class="container">

    <div class="row mt-4">
      <%for(item of dataArticleTag) { %>

        <a href="/voir_article/<%=item.Article.id%>">

          <div class="card ml-4 mb-3" style="width: 18rem;">
            <img src="/photo/<%=item.Article.image%>" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">
                <%=item.Article.titre%>
              </h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                card's content.</p>

              <a href="#"><i class="fa fa-heart-o"></i>
                <%=item.Article.Likes.length%>
              </a>
              <a href="#"> <i class="fa fa-commenting-o"></i>
                <%=item.Article.Commentaires.length%>Commentaire
              </a>


            </div>
          </div>
        </a>

        <% } %>
    </div>

  </div>